#left-menu {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: -200;
    width: 200px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: wheat;
    z-index: 1000;
    -webkit-transition:left 0.25s, -webkit-transform 0.25s;
    transition:left 0.25s, transform 0.25s;
}
#left-menu.opened {
    left: 0;
}
#left-menu-open-button {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 60px;
    text-align: center;
    -webkit-transition:left 0.25s, -webkit-transform 0.25s;
    transition:left 0.25s, transform 0.25s;
    border: 0;
    border-radius: 0.5em;
    background-color: whitesmoke;
    z-index: 1000;
}
#left-menu-open-button.opened {
    left: 210px;
}
#left-menu-open-button img {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
}
#left-menu-open-button.opened img {
    content: url("../img2/book/prevbtn.png");
}
#left-menu-open-button a:hover img{
    transform:scale(1.1);
}
#left-menu-open-button a:active img{
    transform:scale(0.9);
}
#left-menu .node-category {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    width: calc(200px - 10px);
    height: 50px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: left;
}
#left-menu .node-item {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    width: calc(200px - 30px);
    height: 50px;
    background-color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    justify-content: left;
}
#left-menu .node-item a {
    margin: 0;
    padding: 0;
}
#left-menu .node-item a img {
    width: 40px;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
}
#left-menu .node-item a:hover img{
    transform:scale(1.1);
}
#left-menu .node-item a:active img{
    transform:scale(0.9);
}
#left-menu .node-item a p {
    margin: 0;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
}