<html>

<head>
    <title>%Name%</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="../img/minimap_icons/questinfo_return.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta property="og:title" content="%Name%" />
    <meta property="og:description" content="%Desc%" />
    <meta property="og:image" content="%IconPath%" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2172243042066207",
        enable_page_level_ads: true
    });
    </script>
    <script src="../js/defaultSetting.js"></script>
</head>

<body>
    <div class="top-menu" align="center"></div><script>onInitTopMenu(false);</script>
    %Icon%
    <h1>%Name%</h1>
    <p>%Desc%</p>
    <table>
        <tr>
            <td>Class ID</td>
            <td>Class Name</td>
        </tr>
        <tr>
            <td>%ClassID%</td>
            <td>%ClassName%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Skill Category</td>
            <td>Active State</td>
        </tr>
        <tr>
            <td>%SkillCategory%</td>
            <td>%ActiveState%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Add Spend</td>
            <td>Always Active</td>
            <td>Is Equip Item Abil</td>
        </tr>
        <tr>
            <td>%AddSpend%</td>
            <td>%AlwaysActive%</td>
            <td>%IsEquipItemAbil%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Max Level</td>
            <td>Unlock Desc</td>
        </tr>
        <tr>
            <td>%MaxLevel%</td>
            <td>%UnlockDesc%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Jobs</td>
        </tr>
        <tr>
            <td>%Jobs%</td>
        </tr>
    </table>

    <br/>
    <br/>
    
    <div>
        Prev
        <input class="lv-add-input" type="number" id="AbilityLevelPrev" min="0" max="1" value = "0" onchange="onChangeAbilityLevel()"><br>
        <button class="lv-add-button plus" onclick="onClickLevelUpPrev()"><img src="../img/button/btn_plus.png" /></button><button class="lv-add-button minus" onclick="onClickLevelDownPrev()"><img src="../img/button/btn_minus.png" /></button>
    </div>
    <br>
    <div>
        Next
        <input class="lv-add-input" type="number" id="AbilityLevelNext" min="0" max="1" value = "1" onchange="onChangeAbilityLevel()"><br>
        <button class="lv-add-button plus" onclick="onClickLevelUpNext()"><img src="../img/button/btn_plus.png" /></button><button class="lv-add-button minus" onclick="onClickLevelDownNext()"><img src="../img/button/btn_minus.png" /></button>
    </div>
    <p>Point:<span id="PricePoint">0</span></p>
    
    <script>
    </script>

    %AddCaptionScript%
</body>

</html>