<html>

<head>
    <title>%Name%</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    %AddTopMenu%
</head>

<body>
    <h1>%Name%</h1>
    <p>%EngName%</p>
    <table>
        <tr>
            <td>ClassID</td>
            <td>ClassName</td>
            <td>Job</td>
            <td>Rank</td>
        </tr>
        <tr>
            <td>%ClassID%</td>
            <td>%ClassName%</td>
            <td>%JobName%</td>
            <td>%Rank%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>ClassType</td>
            <td>ValueType</td>
            <td>Attribute</td>
        </tr>
        <tr>
            <td>%ClassType%</td>
            <td>%ValueType%</td>
            <td>%Attribute%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>AttackType</td>
            <td>HitType</td>
        </tr>
        <tr>
            <td>%AttackType%</td>
            <td>%HitType%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>EnableCompanion</td>
            <td>ReqStance</td>
        </tr>
        <tr>
            <td>%EnableCompanion%</td>
            <td>%ReqStance%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>SkillFactor</td>
            <td>BasicSP</td>
        </tr>
        <tr>
            <td>%SklFactor%% (+%SklFactorByLevel%%)</td>
            <td>%BasicSP% (+%LvUpSpendSp%)</td>
        </tr>
    </table>

    <br/>
    
    <input type="number" id="SkillLevel" min="1" max="5" value = "1" onchange="onChangeSkillLevel()">
    <div><button onclick="onClickLevelUp()">▲</button><button onclick="onClickLevelDown()">▼</button></div>

    <p>%Caption%</p>
    <p>%Caption2%</p>

    <div class="add-ability-area">
        %AddAbility%
    </div>

    <script>
    </script>

    %AddCaptionScript%
</body>

</html>