<html>

<head>
    <title>Tree of Builder</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> %AddTopMenu%
</head>

<body align="center">
    <!--<h1>Tree of Builder</h1>-->
    <img class="main-illust" src="%IllustPath%" />
    <h2>%IllustName%</h2>
    <p>%IllustMention%</p>
</body>

<footer>
    <h1> </h1>
    <p><b>Contacts</b></p>
    <p>Mail : <a href="mailto:the.paper@live.co.kr">the.paper@live.co.kr</a></p>
    <p>Slack : <a href="https://join.slack.com/t/tree-of-ipf/shared_invite/enQtNDI2MzAyNzYwMjA4LTVjYzU4YzdjYjc2MDAxNTlkNjA0OWVjY2RhZjk5MWU3MDVkNWY4NDU1MTc3NTM2MTdjNzM0MTE2Njg5ZTg0NzA">click</a></p>
</footer>

</html>