<html>

<head>
    <title>Tree of Builder</title>
    <link rel="icon" href="../img/minimap_icons/questinfo_return.png">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2172243042066207",
        enable_page_level_ads: true
    });
    </script>
    <script src="../js/requestMethod.js"></script>
    <script src="../js/defaultSetting.js"></script>
    <script src="../js/searchModule.js"></script>
</head>

<body>
    <div class="top-menu"></div><script>onInitTopMenu(false);</script>
    <h1 style="width: calc(100vw - 20px); text-align: center;">Tree of Builder</h1>
    <p style="width: calc(100vw - 20px); text-align: center;">-%ServerName%-</p>
    <!--
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2172243042066207"
             data-ad-slot="8369609764"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    -->

    <br/>
    <div class="main-login-container">%LoginData%</div>
    <br/>

    <!--
    <div class="main-illust-container"><img class="main-illust" src="%IllustPath%" /></div>
    <h2>%IllustName%</h2>
    <p>%IllustMention%</p>
    -->

    <br/>
    <!--<h3 style="width:calc(100vw - 20px); text-align:center">- Short Board -</h3>-->
    <div class="main-shortboard-container">%ShortBoard%</div>
    <br/>

    <script>
        setTimeout(openMenuTimer, 500);
        function openMenuTimer(){
            var leftMenu = document.getElementById("left-menu");
            if (leftMenu.classList.contains("opened")) return;
            if (window.innerWidth > window.innerHeight)
                onclick_leftMenuOpen();
        }
    </script>
</body>

<footer>
    <br/>
    <br/>
    <br/>
    <h2><b>Contacts</b></h2>
    <p><img src="http://js.nx.com/s2/game/tos/common/farvicon.ico" />[바이보라] 종이종이</p>
    <p><img src="https://ssl.gstatic.com/ui/v1/icons/mail/images/favicon5.ico" /><a href="mailto:tree.of.builder@gmail.com">tree.of.builder@gmail.com</a></p>
    <p><img src="https://iopen.kakaocdn.net/favicon.ico" /><a href="https://open.kakao.com/me/tosThaPaper">카카오톡 종이종이</a></p>
    <p><img src="https://github.com/fluidicon.png" /><a href="https://github.com/PieceOfPaper/Tree-of-IPF">Tree Of IPF - Data Server</a></p>
    <p><img src="https://a.slack-edge.com/436da/marketing/img/meta/favicon-32.png" /><a href="https://join.slack.com/t/tree-of-ipf/shared_invite/enQtNDI2MzAyNzYwMjA4LTVjYzU4YzdjYjc2MDAxNTlkNjA0OWVjY2RhZjk5MWU3MDVkNWY4NDU1MTc3NTM2MTdjNzM0MTE2Njg5ZTg0NzA">Tree Of IPF - for Notify</a></p>
</footer>

</html>