<html>

<head>
    <title>%Name%</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="../img2/minimap_icons/questinfo_return.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta property="og:title" content="%Name%" />
    <meta property="og:description" content="%Desc%" />
    <meta property="og:image" content="%IconPath%" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2172243042066207",
        enable_page_level_ads: true
    });
    </script>
    <script src="../js/defaultSetting.js"></script>
    <script src="../js/requestMethod.js"></script>
    <script src="../js/tga.js"></script>
</head>

<body>
    <div class="top-menu" align="center"></div><script>onInitTopMenu(false);</script>
    %Icon%
    <h1>%Name%</h1>
    <p>%Desc%</p>
    <p>%Desc_Sub%</p>
    <table>
        <tr>
            <td>Class ID</td>
            <td>Class Name</td>
        </tr>
        <tr>
            <td>%ClassID%</td>
            <td>%ClassName%</td>
        </tr>
    </table>
    <br/>
    <h3>Target</h3>
    %Target%
    <br/>
    <h3>Materials</h3>
    %Materials%
    <br/>
    %Recipes%
    %QuestRewards%
    %Shops%
    %Collections%

    <br/>
    <br/>
    <h3>Comments</h3>
    %Comment%
    
</body>

</html>