<html>

<head>
    <title>%Name%</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <script src="../js/defaultSetting.js"></script>
</head>

<body>
    <div class="top-menu" align="center"></div><script>onInitTopMenu(false);</script>
    %Icon%
    <h1>%Name%</h1>
    <p>%Desc%</p>
    <p>%Desc_Sub%</p>
    <table>
        <tr>
            <td>ClassID</td>
            <td>ClassName</td>
            <td>ItemType</td>
            <td>GroupName</td>
        </tr>
        <tr>
            <td>%ClassID%</td>
            <td>%ClassName%</td>
            <td>%ItemType%</td>
            <td>%GroupName%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Weight</td>
            <td>MaxStack</td>
            <td>CardGroupName</td>
        </tr>
        <tr>
            <td>%Weight%</td>
            <td>%MaxStack%</td>
            <td>%CardGroupName%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>MaterialPrice</td>
            <td>Price</td>
            <td>PriceRatio</td>
        </tr>
        <tr>
            <td>%MaterialPrice%</td>
            <td>%Price%</td>
            <td>%PriceRatio%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>SellPrice</td>
            <td>RepairPriceRatio</td>
        </tr>
        <tr>
            <td>%SellPrice%</td>
            <td>%RepairPriceRatio%</td>
        </tr>
    </table>
    <br/>

    <br/>
    <br/>

    %TooltipImage%
    
</body>

</html>