<html>

<head>
    <title>%Name%</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2172243042066207",
        enable_page_level_ads: true
    });
    </script>
    <script src="../js/defaultSetting.js"></script>
</head>

<body>
    <div class="top-menu" align="center"></div><script>onInitTopMenu(false);</script>
    %Icon%
    <p>%ReqToolTip%</p>
    <h1>%Name%</h1>
    <div id="BasicValue"></div>
    <div>%StatList%</div>
    <br/>
    <div>
        Reinforce
        <input class="lv-add-input" type="number" id="ReinforceLevel" min="0" max="40" value = "0" onchange="onChangeReinforceLevel()"><br>
        <button class="lv-add-button plus" onclick="onClickReinforceLevelUp()"><img src="../img/button/btn_plus.png" /></button><button class="lv-add-button minus" onclick="onClickReinforceLevelDown()"><img src="../img/button/btn_minus.png" /></button>
    </div>
    <br>
    <div>
        Transcend
        <input class="lv-add-input" type="number" id="TranscendLevel" min="0" max="10" value = "0" onchange="onChangeTranscendLevel()"><br>
        <button class="lv-add-button plus" onclick="onClickTranscendLevelUp()"><img src="../img/button/btn_plus.png" /></button><button class="lv-add-button minus" onclick="onClickTranscendLevelDown()"><img src="../img/button/btn_minus.png" /></button>
    </div>
    <br/>
    <p>%Desc%</p>
    <p>%Desc_Sub%</p>
    <table>
        <tr>
            <td>ClassID</td>
            <td>ClassName</td>
            <td>ItemType</td>
            <td>GroupName</td>
        </tr>
        <tr>
            <td>%ClassID%</td>
            <td>%ClassName%</td>
            <td>%ItemType%</td>
            <td>%GroupName%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Weight</td>
            <td>MaxStack</td>
            <td>ItemGrade</td>
        </tr>
        <tr>
            <td>%Weight%</td>
            <td>%MaxStack%</td>
            <td>%ItemGrade%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>UseLv</td>
            <td>Dur</td>
            <td>Socket</td>
            <td>PR</td>
            <td>UseGender</td>
        </tr>
        <tr>
            <td>%UseLv%</td>
            <td>%MaxDur%</td>
            <td>%MaxSocket_COUNT%</td>
            <td>%MaxPR%</td>
            <td>%UseGender%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>ClassType</td>
            <td>ClassType2</td>
            <td>AttachType</td>
        </tr>
        <tr>
            <td>%ClassType%</td>
            <td>%ClassType2%</td>
            <td>%AttachType%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>SellPrice</td>
            <td>RepairPriceRatio</td>
        </tr>
        <tr>
            <td>%SellPrice%</td>
            <td>%RepairPriceRatio%</td>
        </tr>
    </table>
    <br/>
    <br/>
    %SetData%
    <br/>
    <br/>
    %LegendSetData%

    <br/>
    <br/>

    <!--%TooltipImage%-->
    %AddCaptionScript%
    
</body>

</html>