<html>

<head>
    <title>%Name%</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta property="og:title" content="%Name%" />
    <meta property="og:description" content="%Desc%" />
    <meta property="og:image" content="%IconPath%" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2172243042066207",
        enable_page_level_ads: true
    });
    </script>
    <script src="../js/defaultSetting.js"></script>
    <script src="../js/spine/spine-canvas.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>

<body>
    <div class="top-menu" align="center"></div><script>onInitTopMenu(false);</script>
    %Icon%
    <h1>%Name%</h1>
    <p>%Desc%</p>
    <p>%Desc_Sub%</p>
    <table>
        <tr>
            <td>Class ID</td>
            <td>Class Name</td>
        </tr>
        <tr>
            <td>%ClassID%</td>
            <td>%ClassName%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Item Type</td>
            <td>Group Name</td>
        </tr>
        <tr>
            <td>%ItemType%</td>
            <td>%GroupName%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Weight</td>
            <td>Max Stack</td>
            <td>Card Group Name</td>
        </tr>
        <tr>
            <td>%Weight%</td>
            <td>%MaxStack%</td>
            <td>%CardGroupName%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Material Price</td>
            <td>Price</td>
            <td>Price Ratio</td>
        </tr>
        <tr>
            <td>%MaterialPrice%</td>
            <td>%Price%</td>
            <td>%PriceRatio%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Sell Price</td>
            <td>Repair Price Ratio</td>
        </tr>
        <tr>
            <td>%SellPrice%</td>
            <td>%RepairPriceRatio%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Base Skill</td>
            <td>Enable Equip Parts</td>
        </tr>
        <tr>
            <td>%BaseSkillString%</td>
            <td>%EnableEquipParts%</td>
        </tr>
    </table>
    <br/>
    <br/>
    %Recipes%

    <br/>
    <br/>

    %TooltipImage%
    <br/>
    
</body>

</html>