<html>

<head>
    <title>%Name%</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    %AddTopMenu%
</head>

<body>
    %Icon%
    <h1>%Name%</h1>
    <p>%Desc%</p>
    <table>
        <tr>
            <td>ClassID</td>
            <td>ClassName</td>
            <td>SkillCategory</td>
            <td>ActiveState</td>
        </tr>
        <tr>
            <td>%ClassID%</td>
            <td>%ClassName%</td>
            <td>%SkillCategory%</td>
            <td>%ActiveState%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>AddSpend</td>
            <td>AlwaysActive</td>
            <td>IsEquipItemAbil</td>
        </tr>
        <tr>
            <td>%AddSpend%</td>
            <td>%AlwaysActive%</td>
            <td>%IsEquipItemAbil%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>MaxLevel</td>
            <td>UnlockDesc</td>
        </tr>
        <tr>
            <td>%MaxLevel%</td>
            <td>%UnlockDesc%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Jobs</td>
        </tr>
        <tr>
            <td>%Jobs%</td>
        </tr>
    </table>

    <br/>
    <br/>
    
    <div>
        Prev
        <input type="number" id="AbilityLevelPrev" min="0" max="1" value = "0" onchange="onChangeAbilityLevel()">
        <button onclick="onClickLevelUpPrev()">▲</button><button onclick="onClickLevelDownPrev()">▼</button>
    </div>
    <div>
        Next
        <input type="number" id="AbilityLevelNext" min="0" max="1" value = "1" onchange="onChangeAbilityLevel()">
        <button onclick="onClickLevelUpNext()">▲</button><button onclick="onClickLevelDownNext()">▼</button>
    </div>
    <p>Point:<span id="PricePoint">0</span></p>
    
    <script>
    </script>

    %AddCaptionScript%
</body>

</html>