<html>

<head>
    <title>%Name%</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="icon" href="../img/minimap_icons/questinfo_return.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta property="og:title" content="%Name%" />
    <meta property="og:description" content="%EngName%" />
    <meta property="og:image" content="%IconPath%" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2172243042066207",
        enable_page_level_ads: true
    });
    </script>
    <script src="../js/defaultSetting.js"></script>
    <script src="../js/requestMethod.js"></script>
    <script src="../js/tga.js"></script>
</head>

<body>
    <div class="top-menu" align="center"></div><script>onInitTopMenu(false);</script>
    <!--
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-2172243042066207"
         data-ad-slot="8369609764"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    -->
    %Icon%
    <h1>%Name%</h1>
    <p>%EngName%</p>
    <p>%ClassName%</p>
    <table>
        <tr>
            <td>Class ID</td>
            <td>Job</td>
            <td>Rank</td>
        </tr>
        <tr>
            <td>%ClassID%</td>
            <td>%JobName%</td>
            <td>%Rank%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Class Type</td>
            <td>Value Type</td>
            <td>Attribute</td>
        </tr>
        <tr>
            <td>%ClassType%</td>
            <td>%ValueType%</td>
            <td>%Attribute%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Attack Type</td>
            <td>Hit Type</td>
        </tr>
        <tr>
            <td>%AttackType%</td>
            <td>%HitType%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Enable Companion</td>
            <td>Require Stance</td>
        </tr>
        <tr>
            <td>%EnableCompanion%</td>
            <td>%ReqStance%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Skill Factor</td>
            <td>SR</td>
            <td>Basic SP</td>
            <td>CD</td>
            <td>OH</td>
        </tr>
        <tr>
            <td>%SklFactor%% (+%SklFactorByLevel%%)</td>
            <td>%SklSR%</td>
            <td>%BasicSP% (+%LvUpSpendSp%)</td>
            <td>%BasicCoolDown%</td>
            <td>%OverHeat%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Default Hit Delay</td>
            <td>Shoot Time</td>
            <td>Cancel Time</td>
            <td>Delay Time</td>
        </tr>
        <tr>
            <td>%DefaultHitDelay%</td>
            <td>%ShootTime%</td>
            <td>%CancelTime%</td>
            <td>%DelayTime%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Dead Hit Delay</td>
            <td>Hit Time</td>
            <td>Ani Time</td>
        </tr>
        <tr>
            <td>%DeadHitDelay%</td>
            <td>%HitTime%</td>
            <td>%AniTime%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Keyword</td>
        </tr>
        <tr>
            <td>%Keyword%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Skill Gem</td>
        </tr>
        <tr>
            <td>%SkillGem%</td>
        </tr>
    </table>

    <br/>
    
    <input class="lv-add-input" type="number" id="SkillLevel" min="1" max="5" value = "1" onchange="onChangeSkillLevel()"><br>
    <div><button class="lv-add-button plus" onclick="onClickLevelUp()"><img src="../img2/button/btn_plus.png" /></button><button class="lv-add-button minus" onclick="onClickLevelDown()"><img src="../img2/button/btn_minus.png" /></button></div>

    <p>%Caption%</p>
    <p>%Caption2%</p>

    <div class="add-ability-area">
        %AddAbility%
    </div>

    <br/>
    <br/>
    <button onclick="var div=document.getElementById('rawScript-div'); if(div!=undefined){ div.style.display=(div.style.display=='none')?'block':'none'; }">Show RawScripts</button>
    <div id="rawScript-div" style="display: none;">
        <table class="script-details">
            %RawScripts%
        </table>
    </div>

    <br/>
    <br/>
    <h3>Comments</h3>
    %Comment%

    <script>
    </script>

    %AddCaptionScript%
</body>

</html>