<html>

<head>
    <title>Tree of Builder</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> %AddTopMenu%
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2172243042066207",
        enable_page_level_ads: true
    });
    </script>
    <script src="../js/defaultSetting.js"></script>
</head>

<body align="center">
    <div class="top-menu" align="center"></div><script>onInitTopMenu(false);</script>
    <!--<h1>Tree of Builder</h1>-->
    <img class="main-illust" src="%IllustPath%" />
    <h2>%IllustName%</h2>
    <p>%IllustMention%</p>
</body>

<footer>
    <br/>
    <br/>
    <br/>
    <h2><b>Contacts</b></h2>
    <p><img src="http://js.nx.com/s2/game/tos/common/farvicon.ico" />[바이보라] 종이종이</p>
    <p><img src="http://ow2.res.office365.com/owamail/20181112.03/resources/images/favicons/mail-seen.ico" /><a href="mailto:the.paper@live.co.kr">the.paper@live.co.kr</a></p>
    <p><img src="https://iopen.kakaocdn.net/favicon.ico" /><a href="https://open.kakao.com/me/tosThaPaper">카카오톡 종이종이</a></p>
    <p><img src="https://github.com/fluidicon.png" /><a href="https://github.com/PieceOfPaper/Tree-of-IPF">Tree Of IPF - Data Server</a></p>
    <p><img src="https://a.slack-edge.com/436da/marketing/img/meta/favicon-32.png" /><a href="https://join.slack.com/t/tree-of-ipf/shared_invite/enQtNDI2MzAyNzYwMjA4LTVjYzU4YzdjYjc2MDAxNTlkNjA0OWVjY2RhZjk5MWU3MDVkNWY4NDU1MTc3NTM2MTdjNzM0MTE2Njg5ZTg0NzA">Tree Of IPF - for Notify</a></p>
</footer>

</html>