<html>

<head>
    <title>%Name%</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="../img2/minimap_icons/questinfo_return.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta property="og:title" content="%Name%" />
    <meta property="og:description" content="%Desc%" />
    <meta property="og:image" content="%IconPath%" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2172243042066207",
        enable_page_level_ads: true
    });
    </script>
    <script src="../js/defaultSetting.js"></script>
    <script src="../js/requestMethod.js"></script>
    <script src="../js/tga.js"></script>
    <script src="../js/luajs/lua.min.js"></script>
    <script src="../js/generated_lua.js"></script>
</head>

<body>
    <div class="top-menu" align="center"></div><script>onInitTopMenu(false);</script>
    %Icon%
    <p>%ReqToolTip%</p>
    <h1>%Name%</h1>
    <div id="BasicValue"></div>
    <div>%StatList%</div>
    <br/>
    <div>Use Level
        <input class="lv-add-input" id="UseLv" type="number" value="400">
    </div>
    <br/>
    <div>
        Reinforce
        <input class="lv-add-input" type="number" id="ReinforceLevel" min="0" max="40" value = "0" onchange="onChangeReinforceLevel()"><br>
        <button class="lv-add-button minus" onclick="onClickReinforceLevelDown()"><img src="../img2/button/btn_minus.png" /></button><button class="lv-add-button plus" onclick="onClickReinforceLevelUp()"><img src="../img2/button/btn_plus.png" /></button>
        %ReinforceSilverItem%
    </div>
    <br>
    <div>
        Transcend
        <input class="lv-add-input" type="number" id="TranscendLevel" min="0" max="10" value = "0" onchange="onChangeTranscendLevel()"><br>
        <button class="lv-add-button minus" onclick="onClickTranscendLevelDown()"><img src="../img2/button/btn_minus.png" /></button><button class="lv-add-button plus" onclick="onClickTranscendLevelUp()"><img src="../img2/button/btn_plus.png" /></button>
        %TranscendMaterialItem%
    </div>
    <br/>
    <p>%Desc%</p>
    <p>%Desc_Sub%</p>
    <table>
        <tr>
            <td>Class ID</td>
            <td>Class Name</td>
        </tr>
        <tr>
            <td>%ClassID%</td>
            <td>%ClassName%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Item Type</td>
            <td>Group Name</td>
        </tr>
        <tr>
            <td>%ItemType%</td>
            <td>%GroupName%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Weight</td>
            <td>Max Stack</td>
            <td>Item Grade</td>
        </tr>
        <tr>
            <td>%Weight%</td>
            <td>%MaxStack%</td>
            <td>%ItemGrade%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <!--<td>Use Lv</td>-->
            <td>Dur</td>
            <td>Socket</td>
            <td>PR</td>
            <td>Use Gender</td>
        </tr>
        <tr>
            <!--<td>%UseLv%</td>-->
            <td>%MaxDur%</td>
            <td>%MaxSocket_COUNT%</td>
            <td>%MaxPR%</td>
            <td>%UseGender%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Class Type</td>
            <td>Class Type2</td>
            <td>Attach Type</td>
        </tr>
        <tr>
            <td>%ClassType%</td>
            <td>%ClassType2%</td>
            <td>%AttachType%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Sell Price</td>
            <td>Repair Price Ratio</td>
        </tr>
        <tr>
            <td>%SellPrice%</td>
            <td>%RepairPriceRatio%</td>
        </tr>
    </table>
    <br/>
    %Recipes%
    %QuestRewards%
    %Shops%
    %Collections%
    %IndunRewards%
    %GachaDetail%

    <br/>
    <br/>
    %SetData%
    <br/>
    <br/>
    %LegendSetData%

    <br/>
    <br/>
    <h3>Comments</h3>
    %Comment%

    <!--%TooltipImage%-->
    %AddCaptionScript%

    <script>
        var value = lua_call(lua_tableget(lua_script, "SCR_REFRESH_WEAPON"), [JSON.stringify(itemData),0,0,0]);
        console.log(value[0]);
    </script>
    
</body>

</html>