<html>

<head>
    <title>%Name%</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    %AddTopMenu%
</head>

<body>
    %Icon%
    <p>%ReqToolTip%</p>
    <h1>%Name%</h1>
    <div id="BasicValue"></div>
    <div>%StatList%</div>
    <br/>
    <div>
        Reinforce
        <input type="number" id="ReinforceLevel" min="0" max="40" value = "0" onchange="onChangeReinforceLevel()">
        <button onclick="onClickReinforceLevelUp()">▲</button><button onclick="onClickReinforceLevelDown()">▼</button>
    </div>
    <div>
        Transcend
        <input type="number" id="TranscendLevel" min="0" max="10" value = "0" onchange="onChangeTranscendLevel()">
        <button onclick="onClickTranscendLevelUp()">▲</button><button onclick="onClickTranscendLevelDown()">▼</button>
    </div>
    <br/>
    <p>%Desc%</p>
    <p>%Desc_Sub%</p>
    <table>
        <tr>
            <td>ClassID</td>
            <td>ClassName</td>
            <td>ItemType</td>
            <td>GroupName</td>
        </tr>
        <tr>
            <td>%ClassID%</td>
            <td>%ClassName%</td>
            <td>%ItemType%</td>
            <td>%GroupName%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>Weight</td>
            <td>MaxStack</td>
            <td>ItemGrade</td>
        </tr>
        <tr>
            <td>%Weight%</td>
            <td>%MaxStack%</td>
            <td>%ItemGrade%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>UseLv</td>
            <td>Dur</td>
            <td>MaxDur</td>
            <td>UseJob</td>
            <td>UseGender</td>
        </tr>
        <tr>
            <td>%UseLv%</td>
            <td>%Dur%</td>
            <td>%MaxDur%</td>
            <td>%UseJob%</td>
            <td>%UseGender%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>ClassType</td>
            <td>ClassType2</td>
            <td>AttachType</td>
        </tr>
        <tr>
            <td>%ClassType%</td>
            <td>%ClassType2%</td>
            <td>%AttachType%</td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>SellPrice</td>
            <td>RepairPriceRatio</td>
        </tr>
        <tr>
            <td>%SellPrice%</td>
            <td>%RepairPriceRatio%</td>
        </tr>
    </table>
    <br/>

    <br/>
    <br/>

    <!--%TooltipImage%-->
    %AddCaptionScript%
    
</body>

</html>