<html>

<head>
    <title>Buff Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    %AddTopMenu%
</head>

<body>
    <div class="search-area">
        <select id="searchType">
            <option value="Name">Name</option>
            <option value="ClassName">ClassName</option>
            <option value="Keyword">Keyword</option>
        </select>
        <input type="text" id="searchName" onkeydown="searchName_enterCheck()">
    </div>
    <div class="filler-area">
        <select id="lvFilter">
            <option value="">Level</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="Upper">Upper</option>
        </select>
        <select id="group1Filter">
            <option value="">Group1</option>
            <option value="Buff">Buff</option>
            <option value="Debuff">Debuff</option>
        </select>
        <select id="group2Filter">
            <option value="">Group2</option>
            <option value="Confuse">Confuse</option>
            <option value="Drug">Drug</option>
            <option value="Fire">Fire</option>
            <option value="Freeze">Freeze</option>
            <option value="HardWound">HardWound</option>
            <option value="Ice">Ice</option>
            <option value="Magic">Magic</option>
            <option value="Melee">Melee</option>
            <option value="Normal">Normal</option>
            <option value="Petrify">Petrify</option>
            <option value="Poison">Poison</option>
            <option value="Shield">Shield</option>
            <option value="Wound">Wound</option>
        </select>
        <select id="group3Filter">
            <option value="">Group3</option>
            <option value="None">None</option>
            <option value="PhysicalCC">PhysicalCC</option>
            <option value="Solid">Solid</option>
            <option value="False">False</option>
        </select>
        <select id="slotTypeFilter">
            <option value="">SlotType</option>
            <option value="slot_ability">slot_ability</option>
            <option value="slot_type02">slot_type02</option>
            <option value="slot_type03">slot_type03</option>
        </select>
        <select id="positionFilter">
            <option value="">Position</option>
            <option value="top">Top</option>
            <option value="middle">Middle</option>
            <option value="bottom">Bottom</option>
            <option value="ground">Ground</option>
        </select>
    </div>
    <button id="searchBtn" onclick="search()">Search</button>
    <br/>
    <table class="search-result-table" style="width:100%">
    %SearchResult%
    <!--
        <tr>
            <td align="center"><a href="">1234</a></td>
            <td align="center"><img src="../img/icon/skillicon/ability_archer_Appraiser1.png" /></td>
            <td>
                <p>Name<br/>ClaeeName
                </p>
            </td>
        </tr>
        <tr>
            <td align="center"><a href="">4321</a></td>
            <td align="center"><img src="../img/icon/skillicon/ability_archer_Appraiser2.png" /></td>
            <td>
                <p>Name<br/>ClaeeName
                </p>
            </td>
        </tr>
    -->

    </table>

    <script>
        var url = window.location.href.split('?')[0];

        var searchType = document.getElementById("searchType");
        var searchName = document.getElementById("searchName");

        var lvFilter = document.getElementById("lvFilter");
        var group1Filter = document.getElementById("group1Filter");
        var group2Filter = document.getElementById("group2Filter");
        var group3Filter = document.getElementById("group3Filter");
        var slotTypeFilter = document.getElementById("slotTypeFilter");
        var positionFilter = document.getElementById("positionFilter");

        onInit();

        function onInit() {
            searchType.value = getQueryVariable("searchType");
            searchName.value = getQueryVariable("searchName");

            lvFilter.value = getQueryVariable("lvFilter");
            group1Filter.value = getQueryVariable("group1Filter");
            group2Filter.value = getQueryVariable("group2Filter");
            group3Filter.value = getQueryVariable("group3Filter");
            slotTypeFilter.value = getQueryVariable("slotTypeFilter");
            positionFilter.value = getQueryVariable("positionFilter");

            if (!searchType.value || searchType.value === undefined || searchType.value === "") {
                searchType.value = "Name";
            }
        }

        function searchName_enterCheck() {
            if (event.keyCode == 13) {
                search();
            }
        }

        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) { return decodeURIComponent(pair[1]); }
            }
            return ("");
        }

        function search() {
            
            var queryString = [];
            if (searchType.value != undefined && searchType.value.length > 0){
                queryString.push("searchType=" + searchType.value);
            }
            if (searchName.value != undefined && searchName.value.length > 0){
                queryString.push("searchName=" + searchName.value);
            }
            if (lvFilter.value != undefined && lvFilter.value.length > 0){
                queryString.push("lvFilter=" + lvFilter.value);
            }
            if (group1Filter.value != undefined && group1Filter.value.length > 0){
                queryString.push("group1Filter=" + group1Filter.value);
            }
            if (group2Filter.value != undefined && group2Filter.value.length > 0){
                queryString.push("group2Filter=" + group2Filter.value);
            }
            if (group3Filter.value != undefined && group3Filter.value.length > 0){
                queryString.push("group3Filter=" + group3Filter.value);
            }
            if (slotTypeFilter.value != undefined && slotTypeFilter.value.length > 0){
                queryString.push("slotTypeFilter=" + slotTypeFilter.value);
            }
            if (positionFilter.value != undefined && positionFilter.value.length > 0){
                queryString.push("positionFilter=" + positionFilter.value);
            }

            var newUrl = url;
            for (var i = 0; i < queryString.length; i ++){
                if (i == 0){
                    newUrl += "?" + queryString[i];
                } else {
                    newUrl += "&" + queryString[i];
                }
            }
            window.location.href = newUrl;
        }
    </script>

</body>

</html>