<html>

<head>
    <title>Skill Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    %AddTopMenu%
</head>

<body>
    <div class="search-area">
        <select id="searchType">
            <option value="Name">Name</option>
            <option value="ClassName">ClassName</option>
        </select>
        <input type="text" id="searchName" onkeydown="searchName_enterCheck()">
    </div>
    <div class="filler-area">
        <select id="jobFilter">
            %JobFilter%
        </select>
        <select id="classTypeFilter">
            %ClassTypeFilter%
        </select>
        <select id="valueTypeFilter">
            %ValueTypeFilter%
        </select>
        <select id="attributeFilter">
            %AttributeFilter%
        </select>
        <select id="attackTypeFilter">
            %AttackTypeFilter%
        </select>
        <select id="hitTypeFilter">
            %HitTypeFilter%
        </select>
        <select id="companionFilter">
            <option value="">Companion</option>
            <option value="None">Stand Only</option>
            <option value="YES">Companion Only</option>
            <option value="BOTH">Both</option>
            <option value="!YES">Stand Both</option>
            <option value="!None">Companion Both</option>
        </select>
        <br/>
        <br/>
        <div id="stanceFilter" class="checkboxList">
            <button class="checkboxList-head" onclick='toggle_checkboxList("stanceFilter")'>
                Select Stance<span>▼</span>
            </button>
            <div class="checkboxList-body" style="display:none;">
                %StanceFilter%
            </div>
            <div class="checkboxList-foot" style="display:none;">
                <button onclick='onclick_all_checkboxList("stanceFilter")'>All</button><button onclick='onclick_none_checkboxList("stanceFilter")'>None</button>
            </div>
        </div>
        <br/>
        <input type="checkbox" id="simonyFilter">Simony<br>
        <input type="checkbox" id="bunsinFilter">Bunsin<br>
        <input type="checkbox" id="nocoolFilter">No-Cool Skill<br>
    </div>
    <button id="searchBtn" onclick="search()">Search</button>
    <br/>
    <table class="search-result-table" style="width:100%">
    %SearchResult%
    <!--
        <tr>
            <td align="center"><a href="">1234</a></td>
            <td align="center"><img src="../img/icon/skillicon/ability_archer_Appraiser1.png" /></td>
            <td>
                <p>Name<br/>ClaeeName
                </p>
            </td>
        </tr>
        <tr>
            <td align="center"><a href="">4321</a></td>
            <td align="center"><img src="../img/icon/skillicon/ability_archer_Appraiser2.png" /></td>
            <td>
                <p>Name<br/>ClaeeName
                </p>
            </td>
        </tr>
    -->

    </table>

    <script>
        var url = window.location.href.split('?')[0];

        var searchType = document.getElementById("searchType");
        var searchName = document.getElementById("searchName");

        var jobFilter = document.getElementById("jobFilter");
        var classTypeFilter = document.getElementById("classTypeFilter");
        var valueTypeFilter = document.getElementById("valueTypeFilter");
        var attributeFilter = document.getElementById("attributeFilter");
        var attackTypeFilter = document.getElementById("attackTypeFilter");
        var hitTypeFilter = document.getElementById("hitTypeFilter");
        var companionFilter = document.getElementById("companionFilter");
        var stanceFilter = document.getElementById("stanceFilter");

        var simonyFilter = document.getElementById("simonyFilter");
        var nocoolFilter = document.getElementById("nocoolFilter");
        var bunsinFilter = document.getElementById("bunsinFilter");

        onInit();

        function onInit() {
            searchType.value = getQueryVariable("searchType");
            searchName.value = getQueryVariable("searchName");

            jobFilter.value = getQueryVariable("jobFilter");
            classTypeFilter.value = getQueryVariable("classTypeFilter");
            valueTypeFilter.value = getQueryVariable("valueTypeFilter");
            attributeFilter.value = getQueryVariable("attributeFilter");
            attackTypeFilter.value = getQueryVariable("attackTypeFilter");
            hitTypeFilter.value = getQueryVariable("hitTypeFilter");
            companionFilter.value = getQueryVariable("companionFilter");

            var stanceFilterQueryVar = getQueryVariable("stanceFilter");
            if (stanceFilterQueryVar.length > 0) {
                var stanceSplited = stanceFilterQueryVar.split(";");
                for (var i = 0 ; i < stanceSplited.length; i ++){
                    var stanceCheckbox = document.getElementById("stanceFilter_" + stanceSplited[i]);
                    if (stanceCheckbox === undefined) continue;
                    stanceCheckbox.checked = false;
                }
                toggle_checkboxList("stanceFilter")
            }

            simonyFilter.checked = getQueryVariable("simonyFilter");
            nocoolFilter.checked = getQueryVariable("nocoolFilter");
            bunsinFilter.checked = getQueryVariable("bunsinFilter");

            if (!searchType.value || searchType.value === undefined || searchType.value.length <= 0) {
                searchType.value = "Name";
            }
        }

        function searchName_enterCheck() {
            if (event.keyCode == 13) {
                search();
            }
        }

        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) { return decodeURIComponent(pair[1]); }
            }
            return ("");
        }

        function toggle_checkboxList(id){
            var checkboxList = document.getElementById(id);
            var checkboxList_head = checkboxList.children[0];
            var checkboxList_body = checkboxList.children[1];
            var checkboxList_foot = checkboxList.children[2];

            if (checkboxList_body.style.display === "none"){
                checkboxList_head.classList.remove("close");
                checkboxList_head.classList.add("open");
                checkboxList_body.style.display = "block";
                checkboxList_foot.style.display = "block";
            } else {
                checkboxList_head.classList.remove("open");
                checkboxList_head.classList.add("close");
                checkboxList_body.style.display = "none";
                checkboxList_foot.style.display = "none";
            }
        }
        function onclick_all_checkboxList(id){
            var checkboxList = document.getElementById(id).children[1].children;
            for (var i = 0; i < checkboxList.length; i ++){
                checkboxList[i].checked = true;
            }
        }
        function onclick_none_checkboxList(id){
            var checkboxList = document.getElementById(id).children[1].children;
            for (var i = 0; i < checkboxList.length; i ++){
                checkboxList[i].checked = false;
            }
        }

        function search() {
            
            var queryString = [];
            if (searchType.value != undefined && searchType.value.length > 0){
                queryString.push("searchType=" + searchType.value);
            }
            if (searchName.value != undefined && searchName.value.length > 0){
                queryString.push("searchName=" + searchName.value);
            }
            if (jobFilter.value != undefined && jobFilter.value.length > 0){
                queryString.push("jobFilter=" + jobFilter.value);
            }
            if (classTypeFilter.value != undefined && classTypeFilter.value.length > 0){
                queryString.push("classTypeFilter=" + classTypeFilter.value);
            }
            if (valueTypeFilter.value != undefined && valueTypeFilter.value.length > 0){
                queryString.push("valueTypeFilter=" + valueTypeFilter.value);
            }
            if (attributeFilter.value != undefined && attributeFilter.value.length > 0){
                queryString.push("attributeFilter=" + attributeFilter.value);
            }
            if (attackTypeFilter.value != undefined && attackTypeFilter.value.length > 0){
                queryString.push("attackTypeFilter=" + attackTypeFilter.value);
            }
            if (hitTypeFilter.value != undefined && hitTypeFilter.value.length > 0){
                queryString.push("hitTypeFilter=" + hitTypeFilter.value);
            }
            if (companionFilter.value != undefined && companionFilter.value.length > 0){
                queryString.push("companionFilter=" + companionFilter.value);
            }
            var checkboxList = stanceFilter.children[1].children;
            var stanceFilterString = '';
            for (var i = 0 ; i < checkboxList.length; i ++){
                if (checkboxList[i].checked == true) continue;
                if (checkboxList[i].id.indexOf("stanceFilter_") < 0) continue;
                var name = checkboxList[i].id.replace("stanceFilter_" , "");;
                if (stanceFilterString.length > 0) stanceFilterString += ";";
                stanceFilterString += name;
            }
            if (stanceFilterString.length > 0){
                queryString.push("stanceFilter=" + stanceFilterString);
            }
            if (simonyFilter.checked){
                queryString.push("simonyFilter=" + simonyFilter.checked);
            }
            if (nocoolFilter.checked){
                queryString.push("nocoolFilter=" + nocoolFilter.checked);
            }
            if (bunsinFilter.checked){
                queryString.push("bunsinFilter=" + bunsinFilter.checked);
            }

            var newUrl = url;
            for (var i = 0; i < queryString.length; i ++){
                if (i == 0){
                    newUrl += "?" + queryString[i];
                } else {
                    newUrl += "&" + queryString[i];
                }
            }
            window.location.href = newUrl;
        }
    </script>

</body>

</html>