<html>

<head>
    <title>Tree of Builder</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="../img2/minimap_icons/questinfo_return.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2172243042066207",
        enable_page_level_ads: true
    });
    </script>
    <script src="../js/defaultSetting.js"></script>
</head>

<body>
    <div class="top-menu" align="center"></div><script>onInitTopMenu(false);</script>
    <h3>%Message%</h3>
</body>

</html>