@font-face {
    font-family: IMCM_Origin;
    src: url('imcm_original-webfont.eot'); /* IE9 Compat Modes */
    src: url('imcm_original-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('imcm_original-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('imcm_original-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://github.com/PieceOfPaper/Tree-of-IPF/raw/master/kr/font.ipf/imcm_original.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('imcm_original-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: IMCM_Book;
    src: url('imcm_book-webfont.eot'); /* IE9 Compat Modes */
    src: url('imcm_book-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('imcm_book-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('imcm_book-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://github.com/PieceOfPaper/Tree-of-IPF/raw/master/kr/font.ipf/imcm_book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('imcm_book-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}


/* ======== Default ======== */
head {
    height: 0;
    padding: 0;
    margin: 0;
}

body {
    padding: 10px;
    margin: 0;
    padding-top: 50px;
    font-family: IMCM_Origin;
    background-image: url("../img/minimap/jilgam.png");
    /*font-size: 2.5vw;*/
    max-width: 100%;
    overflow-x: hidden;
}
@media only screen and (max-device-width : 640px) {
    /* Styles */
    body {
        font-size: 20px;
    }
}
@media only screen and (max-device-width: 768px) {
    /* Styles */
    body {
        font-size: 20px;
    }
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

.top-menu {
    padding: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    height: 50px;
    background-color: bisque;
}
.top-menu button {
    margin: 0;
    height: 100%;
}


/* ======== Main ======== */
.main-illust {
    width: 100%;
    max-width: 100vh;
}


/* ======== Skill ======== */
.search-area {
    padding: 5px;
    width: 100%;
}
.search-area select{
    font-size: 1em;
}
.search-area input{
    font-size: 1em;
}

.search-area button{
    font-size: 1em;
}

.search-result-table {
    padding: 5px;
    width:100%;
}
.search-result-table table {

}
.search-result-table img {
    width: 64px;
    height: 64px;
}


/* ======== Builder ======== */
.builder-class-area {
}
.builder-class-area img{
    width:64px;
    height:64px;
}

.builder-class-selected {
}

.builder-class-select {
}

.builder-skill-area {
    padding: 10px;
}
.builder-skill-area .class {
    width: 100%;
}
.builder-skill-area .class .skill {
    display: inline-block;
    white-space: nowrap;
    width: 150px;
}
@media only screen and (max-device-width : 640px) {
    .builder-skill-area .class .skill {
        width: 50%;
    }
}
@media only screen and (max-device-width: 768px) {
    .builder-skill-area .class .skill {
        width: 50%;
    }
}
.builder-skill-area .class .skill img {
    width:64px;
    height:64px;
}
.builder-skill-area .class .skill p {
    padding: 0;
    margin: 0;
}