
/* System */
@import 'Styles/style_font.css';
@import 'Styles/style_leftMenu.css';

/* Search / Datail */
@import 'Styles/style_loading.css';
@import 'Styles/style_search.css';
@import 'Styles/style_detail.css';

/* Contents */
@import 'Styles/style_main.css';
@import 'Styles/style_worldMap.css';
@import 'Styles/style_builder.css';


/* ======== Default ======== */
head {
    height: 0;
    padding: 0;
    margin: 0;
}

body {
    padding: 10px;
    margin: 0;
    padding-top: 75px;
    font-family: 'Jeju Gothic';
    background-image: url("../img2/minimap_imgs/jilgam.png");
    /*font-size: 2.5vw;*/
    max-width: 100%;
    overflow-x: hidden;
}
@media only screen and (max-device-width : 640px) {
    /* Styles */
    /* body {
        font-size: 20px;
    } */
}
@media only screen and (max-device-width: 768px) {
    /* Styles */
    /* body {
        font-size: 20px;
    } */
}


table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, tr, td {
    border: 1px solid black;
}


/* ====== Level Up Button ====== */

.lv-add-input {
    /*font-size: 1.1em;*/
    /*height: 1.1em;*/
}

.lv-add-button {
    margin: 2px;
    padding: 0px;
    background-color: rgba(0,0,0,0);
    border: 0;
    vertical-align: center;
}
.lv-add-button img {
    width: calc(18px * 1.5);
    height: calc(19px * 1.5);
}
.lv-add-button.plus img {
    content: url("../img2/button/btn_plus.png");
}
.lv-add-button.plus:hover img {
    content: url("../img2/button/btn_plus_cursoron.png");
}
.lv-add-button.plus:active img {
    content: url("../img2/button/btn_plus_clicked.png");
}
.lv-add-button.minus img {
    content: url("../img2/button/btn_minus.png");
}
.lv-add-button.minus:hover img {
    content: url("../img2/button/btn_minus_cursoron.png");
}
.lv-add-button.minus:active img {
    content: url("../img2/button/btn_minus_clicked.png");
}